.header{
  width: 100%;
  background-color: var(--primary-color);
  height: 55px;
  padding: 4rem 2,4rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}

.logo{
  margin-top: 1px;

}



@media screen and (max-width: 768px) {
  .header{
    justify-content: center;

  }

}
